body {
     background-color:rgb(252, 249, 225);
     min-height: 100vh;
     justify-content: center;
     align-items: center;
     font-family: 'Courier New', Courier, monospace;
}
.btn {
    background-color:rgb(241, 214, 159);
    color:black;
    border-color:rgb(255, 232, 185);
    transition: background-color 0.3s, border-color 0.3s;
}
.btn:hover {
    background-color:rgb(204, 37, 73);
    border-color:rgb(14, 11, 7);
}
.card.mb-3 {
   background-color:rgb(253, 252, 252);
   min-height: 200vh;
   justify-content: center;
   align-items: center;
   display: flex;
   width: 90%;
   max-width: 600px;
}
